<%= render 'layouts/navbar' %>
<div class="card">
  <div class="card-body">
    <h1>Edit site homepage</h1>

    <%= render 'site_infos/form', site_info: @site_info %>

  </div>

</div>

 <!-- render 'portfolio_items/index' -->
