<!-- About -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">My Journey</h2>
        <h3 class="section-subheading text-muted">My journey so far, how I got to where I am. </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src= "<%= asset_path 'about/1.jpg'%>" alt="thumbnail 1">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2013</h4>
                <h4 class="subheading">Graduated high school. </h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Completed the Higher School Certificate from a government selective school achieving in the top 10% of the state. </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="<%= asset_path 'about/2.jpg'%>" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>January 2018</h4>
                <h4 class="subheading">Graduated University</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Completed Bachelors degree in Science majoring in Psychology. </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="<%= asset_path 'about/3.jpg' %>" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>February 2018</h4>
                <h4 class="subheading">Started Coding Boot Camp</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Began a website and application development boot camp at Digital Intelligence Institute from which this portfolio website application came to be created. </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="<%= asset_path 'about/4.jpg'%>" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Rest of 2018</h4>
                <h4 class="subheading">The near future</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Who knows where my new skillsets and abilities may take me! </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Be Part
                <br>Of My
                <br>Story!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
