<!-- Home/Header -->
<header class="masthead masthead-overlay fullscreen">
  <div class="container container-size">


    <div class="intro-text ">

<div class="md-col-3">
        <img class="rounded-circle img-fluid" src="<%= asset_path 'li2.jpg'%>" width="200px" height="200px"  alt="Picture of Annabelle"/>
</div> <br>
      <div class="intro-lead-in">
        <%= @site_info.welcome_message %>
      </div>
      <div class="intro-heading text-uppercase">
        <%= @site_info.page_title %>
      </div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#contact">
        <%= @site_info.call_to_action %>
      </a>
    </div>
  </div>
</header>
