<!-- Start Exprience Area -->
<section class="section-gap exprience-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-sm-20">
        <!-- MArgin bottom- MB SMALL SCREEN SM-20 pixels  -->
        <div class="exprience-thumb" ></div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="exprience-thumb" ></div>
      </div>
      <div class="col-lg-6">
        <div class="exprience-content">
          <h2>Welcome to Annabelle's Digital Portfolio <br> </h2>
          <h6 class="sub-exprience-title">This is a showcase of what I've learnt at Digital Intelligence Institute and my journey into web development.</h6>
          <p>Upon completing an undergraduate degree in psychology and in search for work, the possibilities of what career to apply into seemed endless and confusing. This made me question what direction I was going in, and ultimately which direction the world and society are moving towards. Hence the idea of coding came into the picture.  </p>
          <a href="#" class="primary-btn">View Details</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Exprience Area -->
